@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-500: #7b33cd;

  --color-primary-600: #6b2bb8;
  --color-primary-700: #5a2499;

  --color-primary-400: #9b5dd9;
  --color-primary-300: #b57de8;

  --color-primary-50: #f5eefc;
  --color-primary-100: #ebe0f9;
  --color-primary-950: #2d0f52;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer base {
  :root {
    --color-surface: #ffffff;
    --color-surface-alt: #fafafa;
    --color-body: #0a0a0a;
    --color-body-muted: #525252;
    --font-sans: 'Nunito', sans-serif;
  }

  [data-theme='dark'] {
    --color-surface: #0a0a0a;
    --color-surface-alt: #171717;
    --color-body: #fafafa;
    --color-body-muted: #a3a3a3;
    --font-sans: 'Nunito', sans-serif;
  }

  html {
    @apply antialiased;
    font-family: var(--font-sans);
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-body);
    font-family: var(--font-sans);
  }
}
